<div class="page-header-container row">

    <!-- Logo -->
    <div class="main-logo">
        <a href="#" class="logo">Equation Catalog</a>
    </div>

    <div class="menu-search">
        <!-- Main Navigation -->
        <div class="main-navigation">
            <a href="#">Menu</a>
        </div>

        <!-- Search -->
        <div class="catalog-search">
            <input class="shuffle-search input_field " type="search" autocomplete="off" value="" maxlength="128" id="input-search" />
            <label class="input_label" for="input-search">
                <span class="input_label-content">Search Library</span>
                <span class="input_label-search"></span>
            </label>
        </div>
    </div>
</div>
